<app-nav-bar></app-nav-bar>
<div *ngIf="selectedEvent" class="event-form mt-6 p-4 border rounded-lg shadow-lg bg-white">
    <h3 class="text-xl font-semibold mb-4">{{ selectedEvent._id ? 'Edit' : 'Add' }} Event</h3>
    <form (ngSubmit)="saveEvent()">
      <div class="form-control mb-4">
        <label for="title" class="label">Event Title</label>
        <input
          [(ngModel)]="selectedEvent.title"
          name="title"
          id="title"
          type="text"
          class="input input-bordered w-full"
          required
          placeholder="Event Title"
        />
      </div>

      <div class="form-control mb-4">
        <label for="date" class="label">Event Date</label>
        <input
          [(ngModel)]="selectedEvent.date"
          name="date"
          id="date"
          type="date"
          class="input input-bordered w-full"
          required
        />
      </div>

      <div class="form-control mb-4">
        <label for="description" class="label">Description</label>
        <textarea
          [(ngModel)]="selectedEvent.description"
          name="description"
          id="description"
          class="textarea textarea-bordered w-full"
          required
          placeholder="Event Description"
        ></textarea>
      </div>

      <div class="form-control mb-4">
        <label for="location" class="label">Location</label>
        <input
          [(ngModel)]="selectedEvent.location"
          name="location"
          id="location"
          type="text"
          class="input input-bordered w-full"
          required
          placeholder="Event Location"
        />
      </div>

      <div class="flex space-x-4 mt-4">
        <button type="submit" class="btn btn-success">
          {{ selectedEvent._id ? 'Update' : 'Create' }} Event
        </button>
        <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
      </div>
    </form>
  </div>