

  <!-- Navbar -->
  <app-nav-bar></app-nav-bar>

  <!-- Main content -->
  <div class="container mx-auto p-8">
    <!-- Timeline Section -->
    <!-- <app-date></app-date> -->

    <!-- Events Section -->
    

    <!-- Figures Section -->
    

    <!-- Locations Section -->
    <section id="locations" class="mb-8">
      <h2 class="text-3xl font-bold mb-4">Historical Locations</h2>
      <div class="">
        <!-- Location 1 -->
        <app-card></app-card>
      </div>
    </section>

  </div>

  <!-- Footer -->
<app-footer></app-footer>

