
<!-- Navbar -->
<nav class="bg-primary p-4">
    <div class="container mx-auto flex items-center justify-between">
      <div class="text-white font-bold text-2xl">Time Traveler's Journal</div>
      <ul class="flex space-x-6 text-white">
        <li><a routerLink="/" class="hover:underline">Home</a></li>
        <li><a routerLink="/date" class="hover:underline">Timeline</a></li>
        <li><a routerLink="/event" class="hover:underline cursor-pointer">Events</a></li>
        <li><a routerLink="/figure" class="hover:underline">Figures</a></li>
        <li><a href="#locations" class="hover:underline">Locations</a></li>
        <li><a routerLink="/login" class="hover:underline">Admin</a></li>
      </ul>
    </div>
  </nav>